@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x:hidden ;
    scroll-behavior: smooth;
}

.bgMapImage{
    background-image: url(".../../assets/map3.jpg");
    background-repeat: no-repeat;
}
.bgLogin{
    background-image: url(".../../assets/Eimg.jpg");
    background-repeat: no-repeat;
}
.bgWeather1{
    background-image: url(".../../assets/w-6.jpg");
    background-repeat: no-repeat;
}

.bgAgencyProfile{
    background-image: url(".../../assets/fire.jpg");
    background-repeat: no-repeat;
}
.employeeBG{
    background-image: url(".../../assets/Eimg.jpg");
    background-repeat: no-repeat; 
}
.dashBG{
    background-image: url(".../../assets/map3.jpg");
    background-repeat: no-repeat;
}
 
.bgAbout{
    background-image: url(".../../assets/hero.jpg");
    background-repeat: no-repeat;
}